<div class="container query-pad fade-in">
  <div class="row">
      <div class="col-md-12 d-flex query-section">
          <div class="query-container" style="margin: 0px;">
              <p class="query-text" style="font-family: 'Fredoka One', 
                serif;font-size: 25px;text-align: center;margin: 0.5rem 0 0.5rem 0;"
                >{{question.question}}</p>
          </div>
          <div class="flex-wrap name-query" style="margin-bottom: 10px;">
              <div class="text-center name-qw" style="width: fit-content;">
                <span style="border-radius: 5px;margin-right: 3px;margin-left: 3px;">{{question.name}}</span>
              </div>
              <div class="text-center" style="background: #94d82d;border-radius: 5px;margin-left: 5px;padding: 3px;">
                <span class="camp-qw">{{question.institute}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
